.App {
  text-align: center;
}

.App * {
  font-size: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.desk-label {
  color: rgb(158, 158, 158);
  font-size: 95%;
}

.desk-name {
  font-size: 200%;
}

.App-link {
  color: #61dafb;
}

.debug {
  font-size: 0.2rem;
}

.available-tick {
  width: 4rem;
  height: 4rem;
  color: green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
